@import url("https://fonts.googleapis.com/css?family=Pacifico");

body {
  background: #f6f7bd;
}

h1 {
  color: #bf4d28;
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 15px;
  font-family: sans-serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

p {
  line-height: 1em;
}

div {
  color: #bf4d28;
  font-family: sans-serif;
  line-height: 10px;
  margin: 2%;
}

#canvas {
  margin-left: 2%;
  background: linear-gradient(#80bca3, #b6d8c0);
}
